[client]
pager="nvim -u ~/.config/nvim/plugged/vim-tmux-navigator/plugin/tmux_navigator.vim  +2 -c 'set nomod|set scrollopt=hor|set nowrap|set nomodifiable|nnoremap qq :qa|1split|windo set scrollbind|wincmd j' -"
