<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>1A7A95F5-7FD7-4E63-86E0-271FDE5DF3F0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pslog</string>
			<key>text</key>
			<string>Personio STAGE log</string>
			<key>url</key>
			<string>https://kibana-proxy.stage.personio-internal.de/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1E4F763E-5CE5-4FCF-86C3-FFB67B592B9D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gm1</string>
			<key>text</key>
			<string>Gmail (Personio)</string>
			<key>url</key>
			<string>https://mail.google.com/mail/u/1/#inbox</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>24F20B3C-C58D-4DD9-B677-82B4B4A784C9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gm2</string>
			<key>text</key>
			<string>Gmail (Fram)</string>
			<key>url</key>
			<string>https://mail.google.com/mail/u/2/#inbox</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2560C157-BA46-46B0-B8EC-35516293390A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jr</string>
			<key>text</key>
			<string>Open a Jira CO- task by ID</string>
			<key>url</key>
			<string>https://personio.atlassian.net/browse/CO-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4CEF3CBA-7CBB-4F44-AD56-1D27ECC65CCF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mr</string>
			<key>text</key>
			<string>Jump to a Merge Request by ID</string>
			<key>url</key>
			<string>https://gitlab.personio-internal.de/personio/personio/merge_requests/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>51E328BD-7D74-443F-B21F-97B89DA962E3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>psrd</string>
			<key>text</key>
			<string>Personio STAGE Rundeck</string>
			<key>url</key>
			<string>https://rundeck.stage.personio-internal.de/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>55DFA24D-90F9-4021-B48F-8549B2144227</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pplog</string>
			<key>text</key>
			<string>Personio PROD log</string>
			<key>url</key>
			<string>https://kibana-proxy.prod.personio-internal.de/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>55EDDE13-7E07-408D-9FBB-FAA7D09849BA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>od</string>
			<key>text</key>
			<string>Oxford Dict</string>
			<key>url</key>
			<string>https://www.oxfordlearnersdictionaries.com/definition/english/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5BFCD4BC-C607-4127-A716-A781C9653F93</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dor</string>
			<key>text</key>
			<string>Search my DevOps requests</string>
			<key>url</key>
			<string>https://personio.atlassian.net/issues/?jql=project%20%3D%20IE%20AND%20creator%20in%20(currentUser())%20AND%20text%20~%20%22{query}%22%20order%20by%20created%20DESC</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6142D37D-975B-4CE1-A599-F2139DCBE3B7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>f33</string>
			<key>text</key>
			<string>Voz F33</string>
			<key>url</key>
			<string>https://next.voz.vn/f/33/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>779A6E71-4C2F-4CE6-8131-3705FA6E9859</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jrla</string>
			<key>text</key>
			<string>Jira board for Laravel upgrade</string>
			<key>url</key>
			<string>https://personio.atlassian.net/secure/RapidBoard.jspa?projectKey=LU&amp;rapidView=274</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8B57D838-6651-4BBA-B60E-0599219B373E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gl</string>
			<key>text</key>
			<string>GitLab MR created by someone</string>
			<key>url</key>
			<string>https://gitlab.personio-internal.de/dashboard/merge_requests?scope=all&amp;utf8=%E2%9C%93&amp;state=opened&amp;author_username={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>95839073-F531-44F9-A75A-732E3E357EF8</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>dm</string>
			<key>text</key>
			<string>Demo Payroll panel</string>
			<key>url</key>
			<string>https://admin.stage.personio-internal.de/companies/payroll</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9DD077C4-1D17-447D-BCD0-7ACC711EBB42</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jrco</string>
			<key>text</key>
			<string>Jira CO Active sprint</string>
			<key>url</key>
			<string>https://personio.atlassian.net/secure/RapidBoard.jspa?rapidView=16</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A060182D-9522-48A0-B7B4-B6481A22C759</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jrff</string>
			<key>text</key>
			<string>Jira CO Firefighter board</string>
			<key>url</key>
			<string>https://personio.atlassian.net/secure/RapidBoard.jspa?rapidView=100</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AB3CF8CA-6DE7-4376-86D3-D4D87D349B7E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pprd</string>
			<key>text</key>
			<string>Personio PROD Rundeck</string>
			<key>url</key>
			<string>https://rundeck.prod.personio-internal.de/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>ADB9FAAC-53A8-4608-A041-32BF39C42823</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yt</string>
			<key>text</key>
			<string>Visit Youtube</string>
			<key>url</key>
			<string>https://www.youtube.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B8A6F215-AF2A-40F2-BE74-9C595400A6F7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pw</string>
			<key>text</key>
			<string>Personio Confluence wiki</string>
			<key>url</key>
			<string>https://personio.atlassian.net/wiki/search?text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C2BE642C-5C9A-4F90-BD5C-2D7CD59094E0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>glp</string>
			<key>text</key>
			<string>Personio Gitlab pipeline</string>
			<key>url</key>
			<string>https://gitlab.personio-internal.de/personio/personio/pipelines</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CB26DABF-9B40-49B7-8C5D-759D59BE20A2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>olg</string>
			<key>text</key>
			<string>OneLogin portal</string>
			<key>url</key>
			<string>https://personio.onelogin.com/portal/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D2F61F8C-A0E4-4FA9-A2F2-231E66BC9D86</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>psnlc</string>
			<key>text</key>
			<string>Local Personio Admin panel</string>
			<key>url</key>
			<string>http://admin.dev.personio.de</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E392E75A-DC47-4100-B4BF-DCEC9BBBCAEE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jrbl</string>
			<key>text</key>
			<string>Jira CO Backlog</string>
			<key>url</key>
			<string>https://personio.atlassian.net/secure/RapidBoard.jspa?rapidView=16&amp;view=planning.nodetail</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FDBD2584-FD78-4A9F-ABA7-CEB1AE7610A1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>glhp</string>
			<key>text</key>
			<string>GitLab MR created by Ha Pham</string>
			<key>url</key>
			<string>https://gitlab.personio-internal.de/dashboard/merge_requests?scope=all&amp;utf8=%E2%9C%93&amp;state=opened&amp;author_username=Ha.Pham.ext</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
